# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Test artifacts
tests/test_data/

# Environment files
.env

# Logs
*/logs/* 

# ingestion state data 
**/ingestion_state_data/ingestion_state.db
